body { /* Font style and centering for all text */
    font-family: Verdana, Sans-serif;
    text-align: center;
  }
  
  .timer { /* Ensuring consistent positioning for the timer */
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: bold;
  }
  
  .carousel-container { /* Ensures correct sizing and positioning for the image carousel */
    position: relative;
    width: 50vw;
    max-width: 90vw;
    height: auto;
    margin: auto;
  }
  
  img { /* Keeps images all the same size, and not too large either */
    width: 60%;
    height: auto;
    padding: 1%;
  }
  
  button { /* Makes the buttons have the same font, larger, and more readable */
    padding: 10px 20px;
    font-family: Verdana, Sans-serif;
    font-weight: bold;
  }
  
  