body { /* Font style and centering for all text */
    font-family: Verdana, Sans-serif;
    text-align: center;
  }
  
  .timer { /* Ensuring consistent positioning for the timer */
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight: bold;
  }
  
  .carousel-container {
    position: relative;
    width: 50vw;
    max-width: 90vw;
    height: auto;
    margin: auto;
  }
  
  img {
    width: 60%;
    height: auto;
    padding: 1%;
  }
  
  button {
    padding: 10px 20px;
    font-family: Verdana, Sans-serif;
    font-weight: bold;
  }
  
  