/* PlaceHolder */

/* Chessboard styling - Set 2 (Darker Color Squares) - By Berry */
.chessboard .dark-square {
    background-color: #4a4a4a;
    width: 12.5%;
    padding-bottom: 12.5%;
  }

/* Center the chessboard vertically - Set 2 - By Berry */ /* Edited to center the chessboard as a whole - By Ethan */
#container {
    margin-top:20%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
}

/* Page background styling - Set 2 - By Berry */
body {
    background-color: #0e3cb9;
    color: white; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0;
}

  /* Footer styling - Set 2 - By Berry */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
  }
  
  /* Validator links/images in footer */
  footer a {
    text-decoration: none;
    color: #00bfff;
  }
  
  footer img {
    display: block;
    margin: 0 auto;
  }

/* Row positioning - By Ethan */
.row {
    display: flex;
    width: 100%;
}

/* Lighter hex coloring and size - By Ethan */
.white{
    border: 1px solid black;
    width: 12.5%;
    height: 75px;
    background-color: white;

}

/* Added for testing, feel free to edit/change but 12.5% width should be correct */
.black{
 border: 1px solid black;
 width: 12.5%;
 height: 75px;
 background-color:#787878;

}
