/* PlaceHolder */

/* Chessboard styling - Set 2 (Darker Color Squares) - By Berry */ /* Edited to ensure formatting for the board with horizontal rows */
.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 480px; 
    height: 480px; 
    margin: 0 auto;
  }

/* Center the chessboard vertically - Set 2 - By Berry */ /* Edited to center the chessboard as a whole - By Ethan */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url(Assets/Arena.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/* Page background styling - Set 2 - By Berry */
body {
    background-color: #0e3cb9;
    color: white; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0;
}

  /* Footer styling - Set 2 - By Berry */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
  }
  
  /* Validator links/images in footer */
  footer a {
    text-decoration: none;
    color: #00bfff;
  }
  
  footer img {
    display: block;
    margin: 0 auto;
  }

  /* Testing screen size - By Berry*/
  @media (max-width: 60px){
    .chessboard{
      width: 300px;
      height: 300px;
    }
  }

  /* Chess Piece Integration - By Berry */
  .white img, .black img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

/* Row positioning - By Ethan */
.row {
    display: flex;
    width: 100%;
}

/* Lighter hex coloring and size - By Ethan */
.white{
    border: 1px solid black;
    width: 12.5%;
    height: 60px;
    background-color: white;
}

/* Added for testing, feel free to edit/change but 12.5% width should be correct - By Ethan*/
.black{
   border: 1px solid black;
   width: 12.5%;
   height: 60px;
   background-color:#787878;
}

/* Header that matches the footer color - By Ethan */
#title {
   position:fixed;
   top: 0px;
   left: 0px; 
   padding: 10px;
   margin: 0px;
   width:100%;
   background-color: #333333;
   text-align: center; 
   z-index: 10;
   font-family: 'JustLettersMedium'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 60px;
}
