* {  
    font-family: Georgia, serif;
    text-align: center;
    background-color: beige;
}

h1 {
    font-family: Verdana, Sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

li {
    font-size: 1.25em;
    margin: 2px;
}

button {
    padding: 10px 10px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

#again {
    color: blue;
    position: absolute;
    left: 10%;
    top: 17%; 
    display: none;
}

body {
    position: relative;
}